* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

body {
  text-align: center;
  max-width: 954px;
  margin: 0 auto;
  margin-top: 229px;
  margin-left: 80px;
}

.App h3 {
  float: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.App .todoList {
    position: absolute;
    left: 1060px;
    font-size: 18px;
    top: 170px;
    font-weight: 500;
}

.App .todoList input {
  margin-right: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}
.start-text {
  margin-left: 389px;
}

h1 {
  margin: 6px 0;
  color: rgb(91, 94, 94);
  font-size: 35px;
}

h2 {
  font-size: 22px;
  color: #00000061;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  font-size: 18px;
  border: 2px solid #FFCD04;
  outline: none;
  width: 954px;
  background: transparent;
  color: #000;
  height: 52px;
  border-radius: 4px;
  
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 4px;
  width: 100px;
  cursor: pointer;
  outline: none;
  background: #008594;
  color: #fff;
  text-transform: capitalize;
  float: right;
  position: absolute;
  margin-left: 24px;
  height: 52px;
  font-size: 18px;
}
.todo-button:disabled {
  opacity: 0.5;
  cursor:auto
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  align-items: center;
  margin: 10px auto;
  color: #666666;
  padding: 20px;
  width: 1170px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 0;
}

.todo-row input {
  margin-right: 35px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

input[type=checkbox]:checked {
  accent-color:#008594;
}

.todo-row.complete {
  color: #ACACAC;
}
.todo-row div {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  color: #174348;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1210px;
}

.error-message {
  position: absolute;
  color: #FF3104;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding-top: 5px;
}
form {
  margin-bottom: 140px;
}
.main-del {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.25);
}

.del-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  padding: 50px;
  width: 400px;
  height: 200px;
  border-radius: 4px;
}
.del-container h3.pop-text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #008594;
  position: absolute;
  top: 52px;
}

.del-container button {
  position: absolute;
  background: white;
  color: #174348;
  cursor: pointer;
  border: none;
  width: 33px;
  height: 28px;
  top: 120px;
  font-weight: 600;
  font-size: 18px;
}
.accept {
  left: 151px;
}

.deny { 
  left: 224px;
}
@media screen and (max-width: 1200px) {
  body{
    margin-left: 0;
  }
  .todo-input {
    position: absolute;
    width: 70%;
    font-size: 12px;
    line-height: 27px;
    top: 193px;
    left: 15%;
  }
  .todo-button {
    position: absolute;
    margin-top: 16px;
    right: 15%;
    top: 259px;
    width: 92px;
  }
  .start-text {
    margin-left: 0;
  }
  .App h3 {
    position: absolute;
    left: 15%;
    top: 168px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
  }
  .start-text h2 {
    margin: 0 auto;
    position: relative;
    width: 286px;
    height: 21px;
    top: 190px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  }
  .start-text h1 {
    margin: 0 auto;
    position: relative;
    width: 316px;
    height: 27px;
    top: 190px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }
  .App .todoList {
    position: absolute;
    right: 15%;
    left: auto;
    top: 92.25px;
  }
  .todo-row {
    width: 70%;
    top: 369px;
    position: absolute;
    left: 15%;
  }
  .delete-icon {
    right: 4%;
    left: auto;
  }
  .del-container {
    width: 324px;
    height: 140px;
  }
  .del-container h3.pop-text {
    position: relative;
    bottom: 30px;
    margin: 0 auto;
    left: 0;
    font-size: 15px;
    top: auto;
  }
  .del-container button{
    top: 85px;
  }
  .accept {
    left: 110px;
  }
  .deny {
    left: 185px;
  }
}